__pycache__/
*.py[cod]
*.pyo
*.pyd
*.DS_Store
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
*.egg
*.log
logs/
.venv/
venv/
ENV/
env/
env.bak/
.idea/
.vscode/
*.sqlite3
*.db
coverage/
.coverage*
htmlcov/
.mypy_cache/
.pytest_cache/
*.swp
*.swo
screenshots/
*.png
*.jpg
*.jpeg
*.env
/.cache

# Selenium Chrome profile local
.chrome-profile/
.chrome-profile-step*/
.venv311/
