[flake8]
max-line-length = 88
extend-ignore = E203, W503, D100, D101, D102, D103, D104, D105, D106, D107
exclude = 
    .git,
    __pycache__,
    venv,
    env,
    build,
    dist,
    .eggs,
    *.egg-info,
    .tox,
    .mypy_cache,
    .pytest_cache

per-file-ignores =
    __init__.py:F401
    tests/*:D