@jubenitogarcia:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
min-release-age=7
min-release-age-exclude[]=@jubenitogarcia/skincos-finance-contracts
min-release-age-exclude[]=@jubenitogarcia/skincos-platform-contracts
min-release-age-exclude[]=@jubenitogarcia/skincos-edge-adapters
